5.2 Lists

In [1]:
c = [-45, 6, 0, 72, 1543]
c

[-45, 6, 0, 72, 1543]

In [2]:
c[0]

-45

In [3]:
c[4]

1543

In [4]:
len(c)

5

In [5]:
c[-1]

1543

In [6]:
c[-5]

-45

In [7]:
a = 1
b = 2
c[a + b]

72

In [8]:
c[4] = 17
c

[-45, 6, 0, 72, 17]

In [9]:
s = 'hello'
s[0]

'h'

In [10]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [11]:
c[100]

IndexError: list index out of range

In [12]:
c[0] + c[1] + c[2]

-39

In [14]:
a_list = []

for number in range(1, 6):
    a_list += [number]
    
a_list

[1, 2, 3, 4, 5]

In [15]:
letters = []

letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

In [16]:
list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

concatenated_list

[10, 20, 30, 40, 50]

In [17]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [19]:
a = [1, 2, 3]

b = [1, 2, 3]

c = [1, 2, 3, 4]

a == b

True

In [20]:
a == c

False

In [21]:
a < c

True

In [22]:
c >= b

True

Self-Check 3

In [23]:
# Create a function cub_list that cubes each element of a list. Call the function with the list numbers containing 
# 1 through 10. Show numbers after the call.

def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3
        
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numbers)

numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Section 5.3 Tuples

In [28]:
# create an empty tuple
student_tuple = ()

student_tuple

()

In [25]:
len(student_tuple)

0

In [26]:
# pack a tuple
student_tuple = 'John', 'Green', 3.3
student_tuple

('John', 'Green', 3.3)

In [27]:
len(student_tuple)

3

In [29]:
# you can surround the tuple with parentheses to get the same result
another_student_tuple = ('Mary', 'Red', 3.3)

another_student_tuple

('Mary', 'Red', 3.3)

In [30]:
# creating a one-element tuple - ALWAYS INCLUDE THE COMMA
a_singleton_tuple = ('red', )

a_singleton_tuple

('red',)

In [31]:
# accessing tuple elements
time_tuple = (9, 16, 1)

time_tuple

(9, 16, 1)

In [32]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [33]:
# adding items to a string or tuple
tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [34]:
# concatenating
tuple1 += (40, 50)

tuple1

(10, 20, 30, 40, 50)

In [35]:
tuple2

(10, 20, 30)

In [36]:
# appending tuples with lists
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

In [38]:
# mutable objects
student_tuple = ('Amanda', 'Blue',  [98, 75, 87])

student_tuple[2][1] = 85

student_tuple

('Amanda', 'Blue', [98, 85, 87])

Section 5.4 Unpacking Sequences

In [39]:
# unpacking 
student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

first_name

'Amanda'

In [40]:
grades

[98, 85, 87]

In [41]:
# unpacking a string
first, second = 'hi'

print(f'{first} {second}')

h i

In [42]:
# unpacking a list
number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

2 3 5

In [43]:
# unpacking a sequence produced by a range

number1, number2, number3 = range(10, 40, 10)

print(f'{number1} {number2} {number3}')

10 20 30

In [45]:
# swapping vallues via packing and unpacking
number1 = 99

number2 = 22

number1, number2 = (number2, number1)
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

In [46]:
# accessing indices and values with enumerate
colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [47]:
# built in function tuple creates a tuple from a sequence
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [48]:
#for loop unpacks each tuple returned by enumerate into the variables index and value and displays them
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow